.bookDiv {
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 10px;
    margin-bottom: 40px;
    border-radius: 7px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    box-shadow: 2px 2px 2px grey;
}

div > input {
    padding-left: 15px;
    color: black;
}

