
.footer {
    width: 99%;
    text-align: center;
    position: fixed;
    bottom: 10px;
    color: white;
    background-color: black;
    border-radius: 7px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    box-shadow: 2px 2px 2px grey;
}


div > h4 {
    margin: 1px;
}