.happyDiv {
    position: relative;
    width: 60%;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    cursor: crosshair;
}

.BasicTracker {
        text-align: center;
        margin: auto;
        font-size: 20px;
        width: 30%;
        height: auto;
        padding: 10px;
        background-color: antiquewhite;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        border-radius: 10px;
        box-shadow: 4px 3px 3px grey;
    
}

.karciara {
    border-radius: 4px;
    box-shadow: 2px 2px 20px black;
}

.bullet {
    position: fixed;
}

.dymek {
    position: absolute;
    left: 67%;
    top: 5%
}

.napisDymek {
    position: absolute;
    left: 50px;
    top: 70px;
}