.wnusio {
    width: 95%;
    position: absolute;
    left: 0px;
    top: 20%;
    background-color: red;
    text-align: center;
    color: black;
    padding: 10px;
    margin: auto;
    margin-top: 5px;
    font-size: 15px;
    text-shadow: none;
    border: 1px;
    border-color: black;
    border-style: solid;
    box-shadow: 2px 2px 2px black;
    border-radius: 2em;
}