.wnusio {
    width: 80%;
    position: fixed;
    left: 10vw;
    top: 30vh;
    background-color: red;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 3px;
    margin: auto;
    margin-top: 15px;
    font-size: 15px;
    text-shadow: none;
    border: 1px;
    border-color: black;
    border-style: solid;
    box-shadow: 2px 2px 2px lightblue;
    border-radius: 2em;
}